.btn {
height: 30px;
  display: inline-block;
  font-family: arial,sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #fbb034;
    font-weight: bold;
    text-shadow: 0 1px 0 #fffc00;
  color: #3c4c55;
  text-decoration: none;
  user-select: none;
  padding: .2em 1.2em;
  outline: none;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 2px;
  background: #fbb034 linear-gradient(#fffc00, #fbb034);
  transition: all .218s ease 0s;
}
.btn:hover {
 /*color: #E07210 !important;
        text-decoration: none !important;*/
		color: #3c4c55;
 /*color: rgb(24,24,24);*/
  border: 1px solid rgb(198,198,198);
  background:  linear-gradient( #fbb034,#fffc00);
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
.btn:active {
  color: rgb(51,51,51);
  border: 1px solid rgb(204,204,204);
  background: rgb(238,238,238) linear-gradient(rgb(238,238,238), rgb(224,224,224));
  box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
}
.btnMenu {
height: 50px;
  display: inline-block;
  font-family: arial,sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: #fbb034;
    font-weight: bold;
    text-shadow: 0 1px 0 #fffc00;
  color: #3c4c55;
  text-decoration: none;
  user-select: none;
  padding: .2em 1.2em;
  outline: none;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 2px;
  background: #fbb034 linear-gradient(#fffc00, #fbb034);
  transition: all .218s ease 0s;
}
.btnMenu:hover {
 /*color: #E07210 !important;
        text-decoration: none !important;*/
		color: #3c4c55;
 /*color: rgb(24,24,24);*/
  border: 1px solid rgb(198,198,198);
  background:  linear-gradient( #fbb034,#fffc00);
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
nav{
text-align: right;
 /*margin: 0 0 0 auto;*/
}